#Test {
  list-style-type: none;
  height: 10vh;
  width: 100%;
  /* margin-bottom: 20%; */
  margin-top: auto;
  margin-bottom: auto;
}

li {
  /* display: inline; */
  margin: 5px;
  font-family: Segoe UI;
  font-size: 25px;
  text-align: start;
}

/* add before and after click effects to change link colors */
